<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Онлайн заказ книг</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
  <div class="container">
    <h1>Онлайн заказ книг в библиотеке</h1>
  </div>
</header>

<main class="container">
  <div class="card">
    <p style="text-align: center; margin-top: 20px;">Пожалуйста, выберите раздел:</p>

    <div class="home-buttons">
      <a href="/books" class="home-button">Книги</a>
      <a href="/clients" class="home-button">Клиенты</a>
      <a href="/loans" class="home-button">Взятые книги</a>
    </div>
  </div>
</main>
</body>
</html>